.App {
  text-align: center;
}

.use {
  list-style: none;
}
.list {
  list-style: none;
  margin-right: 120px;

  width: 210px;
  margin-left: 400px;
  float: right;
}
button {
  margin-left: 35px;
}
ul {
  list-style: none;
}

.user-names {
  border-bottom: 1px solid gray;
  font-size: 1em;
}
.details {
  list-style: none;
  margin-top: 0px;
  padding-top: 20px;

  margin-left: 10%;
}
.details li {
  padding-top: 10px;
}

.user-details {
  list-style: none;
  margin-top: 20px;
  font-size: 15px;
  padding-top: 10px;
  border: solid 1px rgb(221, 213, 213);
  width: 50%;
}
a {
  text-decoration: none;
  color: black;
}
.user-img {
  margin-left: 20px;
  border-radius: 50%;
}
h2 {
  margin-left: 30px;
}
.get-user {
  padding-top: 10px;
  padding-bottom: 12px;
  margin-left: 100px;
  box-shadow: 3px 3px rgb(224, 224, 223), -1em 0 0.4em rgb(224, 224, 223);
  width: 90%;
}
